/* ADMIN DASHBOARD */
.admin-body {
  background: #000;
  color: var(--gold);
  font-family: Poppins, sans-serif;
  min-height: 100vh;
}

.admin-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  padding: 15px 25px;
  border-bottom: 1px solid var(--gold);
}

.logout-btn {
  background: var(--gold);
  color: #000;
  padding: 10px 18px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

.admin-container {
  padding: 20px;
}

.admin-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  color: white;
}

.admin-table th {
  background: var(--gold);
  color: #000;
  padding: 10px;
}

.admin-table td {
  padding: 10px;
  border: 1px solid #333;
}

.delete-btn {
  background: red;
  color: white;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
}

.clear-btn {
  margin-top: 20px;
  background: #d9534f;
  color: white;
  padding: 12px 18px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  border: none;
}
.success-message {
  color: #4BB543;
  margin-top: 15px;
}.error-message {
  color: red;
  margin-top: 15px;}